<footer class="footer">
  <p>
    <a href="/">about</a> |
    <a href="/blog">blog</a> |
    <a href="/projects">projects</a> |
    <a href="/talks">talks</a> |
    <a href="/gpg.pub" title="5ED1 E112 2DC5 E8A4 A451 12C2 4842 4821 0EE3 D884">pgp</a> |
    <a href="mailto:{{site.email}}">email</a> |
    <a href="https://github.com/rhtyd">github</a> |
    <a href="https://twitter.com/rhtyd">twitter</a> |
    <a href="https://www.linkedin.com/in/rhtyd">linkedin</a> |
    <a href="/sitemap.xml">sitemap</a> |
    <a href="/atom.xml">feed</a> |
    <a href="/k">k</a> <br/>


    <span class="logo monkey">&nbsp;</span> 🇮🇳

    © 2010-{{ site.time | date: '%Y' }} {{site.author}} <br/>
    Last updated: {{ site.time | date: '%-d-%-m-%Y %-H:%M:%S' }}
  </p>
</footer>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4103494-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4103494-17');
</script>
