<div class="page-header">
  <div>
    <span class="pagetop">
      <b class="rmain"><span class="logo monkey">&nbsp;</span> {{site.title}} </b>
    </span>
    <span>
      <a href="/">about</a> |
      <a href="/blog">blog</a> |
      <a href="/projects">projects</a> |
      <a href="/talks">talks</a>
    </span>
    <span class="topright">
      <a style="text-decoration: none;" href="mailto:{{site.email}}" title="Email: {{site.email}}"><span class="logo email">&nbsp;</span></a>
      <a style="text-decoration: none;" href="https://github.com/rhtyd" title="Github"><span class="logo github">&nbsp;</span></a>
      <a style="text-decoration: none;" href="https://twitter.com/rhtyd" title="Twitter"><span class="logo twitter">&nbsp;</span></a>
      <a style="text-decoration: none;" href="https://www.linkedin.com/in/rhtyd" title="LinkedIn Profile"><span class="logo linkedin">&nbsp;</span></a>
    </span>
  </div>
</div>
