<div class="page-header">
  <div>
    <span class="pagetop">
      <b class="rmain"><span class="logo monkey">&nbsp;</span> {{site.title}} &nbsp;</b>
    </span>
    <span>
      <a href="/about">about</a> |
      <a href="/talks">talks</a> |
      <a href="/media">media</a> |
      <a href="/rooftop-solar">solar</a> |
      <a href="https://scaleninja.com/guides/cloudstack/" target="_blank">cloudstack-guide</a>
    </span>
    <span class="topright">
      <a style="text-decoration: none;" href="/gpg.pub" title="PGP key">pgp</a> |
      <a style="text-decoration: none;" href="mailto:{{site.email}}" title="Email: {{site.email}}">mail</a> |
      <a style="text-decoration: none;" href="https://github.com/yadvr" title="Github">github</a> |
      <a style="text-decoration: none;" href="https://x.com/yadvx" title="X">x</a> |
      <a style="text-decoration: none;" href="https://www.linkedin.com/in/yadvr" title="LinkedIn Profile">in</a>
    </span>
  </div>
</div>
