<div class="page-header">
  <div>
    <span><a href="/" title="Hoha!">:monkey_face:</a> <strong>{{site.title}} </strong></span>
    <span>
      <a href="/logs">blog</a> |
      <a href="/projects">projects</a> |
      <a href="/cloudstack">cloudstack</a> |
      <a href="/talks">talks</a> |
      <a href="/about">about</a>
    </span>
    <span style="float: right;">
      <a href="/gpg.pub" title="5ED1 E112 2DC5 E8A4 A451 12C2 4842 4821 0EE3 D884">pgp</a> |
      <a href="mailto:{{site.email}}">email</a> |
      <a href="https://github.com/rhtyd">github</a> |
      <a href="https://twitter.com/rhtyd">twitter</a>
    </span>
  </div>
</div>
