body {
  font-size: 14px;
  background-color: #fff;/*#326a8a;*/
  color: #333333;
}

code {
  background: none repeat scroll 0 0 #DDE8F1;
  border: 1px dashed #A9C0D2;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 1px 3px !important;
}

pre {
  font-size: 14px;
}

a {
  color: #246ab0;
}

p {
  font-size: 17px;
  line-height: 24px;
}

/*p > img
{
  max-width: 820px;
}
*/

.label.notice {
  background-color: #328FCC;
}

.content li {
  color: #333;
  font-size: 15px;
}

.content {
  border: 2px dashed #ccc;
  background-color: #fff;
  margin: 20px 0px;
  padding: 15px;
}

/* Topbar special styles */
.navbar .logo {
  display: block;
  float: left;
  font-weight: 200;
  line-height: 1;
  padding: 8px 5px 0px;
}

.navbar .nav > li > a {
  color: #eee;
  font-size: 16px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ff771f;
}
