body {
  font-size: 18px;
  background-color: #eee;
}

.logo {
  background-position: .1em;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  letter-spacing: 1.1em;
  line-height: 1.25em;
  padding-top: .15em;
}

.monkey {
  background-image: url("/assets/m.png");
}

.gilheri {
  background-image: url("/assets/g.png");
}

.heart {
  background-image: url("/assets/heart.png");
}

.email {
  background-image: url("/assets/email.png");
}

.gpg {
  background-image: url("/assets/gpg.png");
}

.github {
  background-image: url("/assets/github.png");
}

.twitter {
  background-image: url("/assets/twitter.png");
}

.linkedin {
  background-image: url("/assets/linkedin.png");
}

.acs {
  background-image: url("/assets/acs.png");
}

.apache {
  background-image: url("/assets/apache.png");
}

.topright {
  float: right;
  display: block;
}

.no-underline {
  text-decoration: none;
}

@media only screen
and (min-width : 300px)
and (max-width : 750px) {
  #rmain { width: 100%; }
  span.pagetop { display: block; }
  span.pagetop b { display: block; }
}

.page-header {
  margin-top: 20px;
}

.page-header nav {
  font-size: 21px;
  text-align: left;
}

.page-header nav a {
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  max-width: 1000px;
  background-color: #fff;
}

.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-size: 15px;
}

.recent-posts {
  margin-left: -40px;
}

.recent-posts li {
  margin-bottom: 5px;
  list-style-type: none;
  font-size: large;
}

.light {
  color: #aaa;
}

.page-content {
  min-height: 500px;
}

.post-meta {
  color: #999;
  font-size: 16px;
}

.post-image {
  text-align:center;
  margin:5px;
}

img {
  max-width: 100%;
}

pre {
  background: none repeat scroll 0 0 #f0f0f0;
  word-wrap: break-word;
  padding: 10px;
  border: none;
}

code {
  color: #333;
  background: none repeat scroll 0 0 #EEE;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 1px 3px !important;
}
