<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6C5RJB3XB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E6C5RJB3XB');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="{{ site.description }} {{page.title}}">
    <meta name="author" content="{{site.author}}">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

    <title>{% if page.title %}{{ site.title}} - {{page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{% if page.title %}{{ site.title}} - {{page.title }}{% else %}{{ site.title }}{% endif %}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="icon" type="image/png" href="/assets/m.png" />
    <link rel="stylesheet" href="{{ "/assets/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="page-content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
